ul {
    list-style: none;
}

.post_content{
    display: flex;
    flex-direction: column;
    padding: 50px;
    max-width: 600px;
    margin-top: 80px;
    background-color: #EEECE7;
    border-radius: 30px;
}

.all_posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
  
.post_details_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post_title {
    margin: 20px;
}

.post_data h2{
    justify-content: center;
    text-align: center;
}

.post_info {
    display: flex;
    flex-direction: row;
}

.summary {
    margin-top: 40px;
    margin-bottom: 80px;
}